{% extends "auctions/layout.html" %}

{% block body %}

<div class="row mx-3" >
  {% if user.is_authenticated %}
    {% if is_listing_in_watchlist %}
      <form action="{% url 'remove_watchlist' id=listing.id %}" method="POST">
          {% csrf_token%}
          <button type="submit" class="btn btn-danger">Remove from watchlist</button>
      </form>
    {% else %} 
      <form action="{% url 'add_watchlist' id=listing.id %}" method="POST">
        {% csrf_token%}
        <button type="submit" class="btn btn-success">Add to watchlist</button>
      </form>
    {% endif %}
  {% endif %}     

</div>
  <h2>Pokemon: {{listing.title}}</h2>
  <img src="{{listing.imageurl}}" alt="{{listing.title}}" height="480px">
  <p>{{lsiting.description}}</p>
  <p>{{listing.owner}}</p>
  <h6>{{listing.price}}</h6>
{% endblock %}